.basic {
background-color: yellow;
font-weight: bold;
padding: 8px;
font-family: Arial;

 

}

 

.center{

 

display: block;
margin-left: auto;
margin-right: auto;
width: 40%;

 

}

 

.buttoncolor{
background-color: green;

 

}